@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}
/*
@layer components {

  .swiper .swiper-pagination .swiper-pagination-bullet,
  .swiper-gallery .swiper-pagination .swiper-pagination-bullet,
  .swiper-gallery-standard .swiper-pagination .swiper-pagination-bullet {
    @apply mx-2 h-3 w-3 bg-white md:hidden;
  }

  .swiper .swiper-button-prev,
  .swiper-gallery .swiper-button-prev,
  .swiper-gallery-standard .swiper-button-prev {
    @apply top-auto bottom-12 left-16 hidden h-14 w-14 before:absolute before:inset-0 before:scale-0 before:rounded-full before:border before:border-white before:duration-300 before:ease-in after:h-full after:w-3/5 after:bg-arrow-left after:bg-center after:bg-no-repeat after:text-white hover:before:scale-100 md:flex 2xl:bottom-24;
  }

  .swiper .swiper-button-next,
  .swiper-gallery .swiper-button-next,
  .swiper-gallery-standard .swiper-button-next {
    @apply top-auto bottom-12 left-32 hidden h-14 w-14 before:absolute before:inset-0 before:scale-0 before:rounded-full before:border before:border-white before:duration-300 before:ease-in after:h-full after:w-3/5 after:bg-arrow-right after:bg-center after:bg-no-repeat after:text-white hover:before:scale-100 md:flex 2xl:bottom-24;
  }

  .swiper.swiper-button-prev,
  .swiper-gallery .swiper-button-prev {
    @apply left-[-33%] bottom-0 before:border-black after:bg-arrow-left-black xl:left-[calc(-33%+1.5rem)] xl:bottom-8 2xl:-left-[333px];
  }

  .swiper.swiper-button-next,
  .swiper-gallery .swiper-button-next {
    @apply bottom-0 left-[calc(-33%+3.5rem)] before:border-black after:bg-arrow-right-black xl:bottom-8 xl:left-[calc(-33%+5rem)] 2xl:-left-[calc(333px-3.5rem)];
  }

  .swiper-gallery-standard .swiper-button-prev {
    @apply hidden;
  }

  .swiper-gallery-standard .swiper-button-next {
    @apply right-0 left-auto top-1/2 after:bg-arrow-right-black hover:before:border-black;
  }

  .swiper-gallery-standard {
    @apply relative;
  }

  @media (min-width: 1536px) {
    .mySwiper .swiper-button-prev {
      left: calc((100vw - 1380px) / 2);
    }
  }

  @media (min-width: 1536px) {
    .mySwiper .swiper-button-prev {
      left: calc((100vw - 1380px) / 2);
    }

    .mySwiper .swiper-button-next {
      left: calc(((100vw - 1380px) / 2) + 70px);
    }
  }

  .swiper-notification {
    @apply sr-only;
  }


} */
